<div class="container mt-4">
  <div class="accordion" id="leadAccordion">

    <!-- Lead Information Accordion -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="leadInfoHeading">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#leadInfoCollapse"
          aria-expanded="true" aria-controls="leadInfoCollapse">
          opportunity Information
        </button>
      </h2>
      <div id="leadInfoCollapse" class="accordion-collapse collapse show" aria-labelledby="leadInfoHeading">
        <div class="accordion-body">
          <div class="row">

            <div class="col-md-6 mb-3">
              <label class="form-label">Required Quantity</label>
              <p>{{ opportunity.requiredQuantity }}</p>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Products</label>
              <p>{{ opportunity.products }}</p>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Status</label>
              <p>{{ opportunity.status }}</p>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Probability</label>
              <p>{{ opportunity.probability }}</p>
            </div>


          </div>
        </div>
      </div>
    </div>


    <!-- Address Information Accordion -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="addressInfoHeading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#addressInfoCollapse" aria-expanded="false" aria-controls="addressInfoCollapse">
          Other Information
        </button>
      </h2>
      <div id="addressInfoCollapse" class="accordion-collapse collapse" aria-labelledby="addressInfoHeading">
        <div class="accordion-body">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">Account Name</label>
              <p>{{ opportunity.accountName }}</p>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Expected Revenue</label>
              <p>{{ opportunity.expectedRevenue }}</p>
            </div>
            <!-- <div class="col-md-6 mb-3">
              <label class="form-label">Closing Date</label>
              <p>{{ opportunity.expectedClosingDate }}</p>
            </div> -->
            <div class="col-md-6 mb-3">
              <label class="form-label">Closing Date</label>
              <p>{{ opportunity.expectedClosingDate | date: 'dd-MM-yyyy' }}</p>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Source</label>
              <p>{{ opportunity.source }}</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
