<div class="container mt-4">
  <div class="accordion" id="leadAccordion">

    <!-- Lead Information Accordion -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="leadInfoHeading">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#leadInfoCollapse"
          aria-expanded="true" aria-controls="leadInfoCollapse">
          opportunity Information
        </button>
      </h2>
      <div id="leadInfoCollapse" class="accordion-collapse collapse show" aria-labelledby="leadInfoHeading">
        <div class="accordion-body">
          <div class="row">

            <div class="col-md-6 mb-3">


              <p>Required Quantity: <span *ngIf="!editMode" (click)="editMode = true">{{ opportunity.requiredQuantity
                  }}</span></p>

              <input type="text" *ngIf="editMode" [(ngModel)]="opportunity.requiredQuantity" (keyup.enter)="saveAll()">

            </div>
            <div class="col-md-6 mb-3">


              <p>Products: <span *ngIf="!editMode" (click)="editMode = true">{{ opportunity.products }}</span></p>


              <select *ngIf="editMode" [(ngModel)]="opportunity.products" (change)="saveAll()" class="form-select">
                <option value="Accounting software">Accounting software</option>
                <option value="Cloud services">Cloud services</option>
                <option value="Communication software">Communication software</option>
                <option value="Content management software">Content management software</option>
                <option value="Customer service platforms">Customer service platforms</option>
                <option value="Analytics">Analytics</option>
                <option value="Cloud storage">Cloud storage</option>
              </select>
            </div>
            <div class="col-md-6 mb-3">


              <p>Status: <span *ngIf="!editMode" (click)="editMode = true">{{ opportunity.status }}</span></p>


              <select *ngIf="editMode" [(ngModel)]="opportunity.status" (change)="saveAll()" class="form-select">
                <option value="Qualified">Qualified</option>
                <option value="Proposition">Proposition</option>
                <option value="Negotiation">Negotiation</option>
                <option value="closed Won">closed Won</option>
                <option value="closed Lost">closed Lost</option>
              </select>

            </div>
            <div class="col-md-6 mb-3">


              <p>Probability: <span *ngIf="!editMode" (click)="editMode = true">{{ opportunity.probability }}</span></p>

              <input type="text" *ngIf="editMode" [(ngModel)]="opportunity.probability" (keyup.enter)="saveAll()">
            </div>




          </div>
        </div>
      </div>
    </div>


    <!-- Address Information Accordion -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="addressInfoHeading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#addressInfoCollapse" aria-expanded="false" aria-controls="addressInfoCollapse">
          Other Information
        </button>
      </h2>
      <div id="addressInfoCollapse" class="accordion-collapse collapse" aria-labelledby="addressInfoHeading">
        <div class="accordion-body">
          <div class="row">
            <div class="col-md-6 mb-3">

              <p>Account Name: <span *ngIf="!editMode" (click)="editMode = true">{{ opportunity.accountName }}</span>
              </p>

              <input type="text" *ngIf="editMode" [(ngModel)]="opportunity.accountName" (keyup.enter)="saveAll()">

            </div>
            <div class="col-md-6 mb-3">


              <p>Expected Revenue: <span *ngIf="!editMode" (click)="editMode = true">{{ opportunity.expectedRevenue
                  }}</span></p>

              <input type="text" *ngIf="editMode" [(ngModel)]="opportunity.expectedRevenue" (keyup.enter)="saveAll()">

            </div>

            <div class="col-md-6 mb-3">


              <p>Closing Date: <span *ngIf="!editMode" (click)="editMode = true">{{ opportunity.expectedClosingDate |
                  date: 'dd-MM-yyyy'}}</span></p>

              <input type="date" *ngIf="editMode" [(ngModel)]="opportunity.expectedClosingDate" (change)="saveAll()">

            </div>
            <div class="col-md-6 mb-3">

              <p>Source: <span *ngIf="!editMode" (click)="editMode = true">{{ opportunity.source }}</span></p>
              <select *ngIf="editMode" [(ngModel)]="opportunity.source" (change)="saveAll()" class="form-select">
                <option value="Web">Web</option>
                <option value="Phone Inquiry">Phone Inquiry</option>
                <option value="Referral">Referral</option>
              </select>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
