/* .container{
  padding-top: 50px;
} */
.custom-input {
  max-width: 200px;
}
/* Style for the search container */
.search-container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

/* Style for the input field */
.search-input {
  width: 70%;
  padding: 8px;
  margin-right: 10px;
}

/* Style for the select dropdown */
.search-select {
  width: 20%;
  padding: 8px;
}

/* Style for the search button */
.search-button {
  padding: 8px 16px;
  background-color: #007bff; /* Blue color for the button */
  color: #fff; /* White text color */
  border: none;
  cursor: pointer;
}

/* Style for the button on hover */
.search-button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

.panal
{
  padding-top: 65px;
}

.container-fluid
{
  padding-top: 65px;
}
.custom-box{
  /* display: inline-flex; */
  max-width: none;
}
.custom-input{
  max-width: 150px;
  /* display: inline-flex;  */
  /* max-width: none; */
}
.slds-path__nav {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.slds-path__item {
  margin: 0;
  padding: 0;
}

.tabHeader {
  text-decoration: none;
  color: #000; /* Change color as needed */
  padding: 10px 20px;
  border: 1px solid #ccc; /* Add border as needed */
  background-color: #f9f9f9; /* Add background color as needed */
}

.tabHeader:hover {
  background-color: #ddd; /* Add hover background color as needed */
}
