<div class="chart-container">
  <!-- Line Chart -->
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [legend]="true"
          [type]="'line'">
  </canvas>

  <!-- Pie Chart -->
  <canvas baseChart
          [datasets]="pieChartData"
          [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [legend]="pieChartLegend"
          [type]="pieChartType">
  </canvas>
</div>

<!-- Bar Chart -->
<div class="chart-container">
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [type]="barChartType">
  </canvas>

<!-- Doughnut chart -->
  <canvas baseChart
          [datasets]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [options]="doughnutChartOptions"
          [legend]="doughnutChartLegend"
          [type]="doughnutChartType">
  </canvas>
</div>








<!-- Pie Chart -->
<!-- <div style="display: block;">
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [type]="pieChartType"
          [options]="pieChartOptions"
          [legend]="pieChartLegend">
  </canvas>
</div> -->

<!-- static line grapg -->

<!-- <div class="chart-container">
  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [type]="'line'"></canvas>
</div>
<ul class="chart-legend">
  <li class="chart-legend-item" *ngFor="let dataSet of lineChartData">
    <div class="chart-legend-color" [style.background-color]="dataSet.backgroundColor"></div>
    {{ dataSet.label }}
  </li>
</ul> -->

<!--static bar graph -->
<!-- <div class="chart-container">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [type]="barChartType">
    </canvas>
  </div> -->


