<!-- <div>
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [legend]="true"
          [type]="'line'">
  </canvas>
</div> -->



<div class="chart-container">
  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [type]="'line'"></canvas>
</div>
<ul class="chart-legend">
  <li class="chart-legend-item" *ngFor="let dataSet of lineChartData">
    <div class="chart-legend-color" [style.background-color]="dataSet.backgroundColor"></div>
    {{ dataSet.label }}
  </li>
</ul>
<!-- pie chart -->


  <!-- <div class="chart-container">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [options]="pieChartOptions"
            [type]="pieChartType"
            [legend]="pieChartLegend">
    </canvas>
  </div> -->
<!-- bar graph -->
<div class="chart-container">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [type]="barChartType">
    </canvas>
  </div>


